.p1-title{
  margin-left: 300px;
  margin-top: 20px;
}

.p1-paragraph{
  margin-left: 300px;
  max-width: 50%;
  margin-bottom: 175px;
}

.p2-title{
  margin-left: 300px;
}

.grid-container{
  margin-left: 300px;
  display: grid;
  max-width: 350px;
  grid-template-columns: 1fr 2fr;
  font-family: Arial;
  height: 175px;
  
}